#!/bin/bash

# Make sure only special user can run this script
if [ "$(id -u)" != "0" ]; then
   echo "This script must be run as root" 1>&2
   exit 1
fi

gitea_sqlite_db={{ git_work_dir }}/data/gitea.db
gitea_repositories=/h/git/gitea-repositories
gitea_work_dir={{ git_work_dir }}
gitea_config=/etc/gitea/app.ini

gitea_backup_path=/h/toolset/backups

echo "Enter a date in YYYY-MM-DD format to restore bases for that date:"
read now_date

touch /h/toolset/maintenance
echo "$(date "+%Y-%m-%d %H-%M-%S"): Maintenance mode enabled."

echo "$(date "+%Y-%m-%d %H-%M-%S"): Stopping gitea.."
systemctl stop gitea.service
echo "$(date "+%Y-%m-%d %H-%M-%S"): Gitea stopped."

echo "$(date "+%Y-%m-%d %H-%M-%S"): Start restore workdir."
rm -rf ${gitea_work_dir}
tar -zxf ${gitea_backup_path}/workdir.${now_date}.tar.gz -C /
chmod -R u+w ${gitea_work_dir}
echo "$(date "+%Y-%m-%d %H-%M-%S"): Complete restore workdir."

# echo "$(date "+%Y-%m-%d %H-%M-%S"): Start restore db."
# > ${gitea_sqlite_db}
# sqlite3 ${gitea_sqlite_db} < ${gitea_backup_path}/db.${now_date}.sql
# echo "$(date "+%Y-%m-%d %H-%M-%S"): Complete restore db."

echo "$(date "+%Y-%m-%d %H-%M-%S"): Start restore repositories."
rm -rf ${gitea_repositories}
tar -zxf ${gitea_backup_path}/repositories.${now_date}.tar.gz -C /
chmod -R u+w ${gitea_repositories}
echo "$(date "+%Y-%m-%d %H-%M-%S"): Complete restore repositories."

echo "$(date "+%Y-%m-%d %H-%M-%S"): Start restore app config."
cp ${gitea_backup_path}/config.${now_date}.ini ${gitea_config}
echo "$(date "+%Y-%m-%d %H-%M-%S"): Complete restore app config."

echo "$(date "+%Y-%m-%d %H-%M-%S"): Start gitea.."
systemctl start gitea.service

rm /h/toolset/maintenance
echo "$(date "+%Y-%m-%d %H-%M-%S"): Maintenance mode disabled."
echo "Don't forget resynchronize pre-receive, update and post-receive hooks and update the '.ssh/authorized_keys' file with Gitea SSH keys. Use admin-panel for this."
echo "$(date "+%Y-%m-%d %H-%M-%S"): Done."
