# This file is managed by ansible, don't make changes here - they will be overwritten.
/var/log/squid/*.log {
        daily
        rotate {{ squid_log_ttl }}
        copytruncate
        compress
        notifempty
        missingok
}
