# This file is managed by ansible, don't make changes here - they will be overwritten.
acl localnet src {{ squid_localnet }} # subnet for internet access

acl SSL_ports port 443
acl Safe_ports port 80		# http
acl Safe_ports port 21		# ftp
acl Safe_ports port 443		# https
acl Safe_ports port 70		# gopher
acl Safe_ports port 210		# wais
acl Safe_ports port 1025-65535	# unregistered ports
acl Safe_ports port 280		# http-mgmt
acl Safe_ports port 488		# gss-http
acl Safe_ports port 591		# filemaker
acl Safe_ports port 777		# multiling http
acl CONNECT method CONNECT
acl SSL method CONNECT
{% if squid_mitm %}
acl blocked url_regex "/etc/squid/blocked.txt"
{% endif %}

dns_nameservers {{ squid_dns }}

http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports
http_access allow localhost manager
http_access deny manager
{% if squid_mitm %}
http_access deny blocked
{% endif %}
http_access allow localnet
http_access allow localhost
http_access deny all
icp_access deny all
htcp_access deny all

http_port 3128 intercept options=NO_SSLv3:NO_SSLv2
http_port 3130 options=NO_SSLv3:NO_SSLv2
{% if squid_mitm %}
https_port 3129 intercept ssl-bump generate-host-certificates=on dynamic_cert_mem_cache_size=16MB cert=/etc/squid/ssl/squidCA.pem

#sslproxy_cert_error allow all
#sslproxy_flags DONT_VERIFY_PEER

acl step1 at_step SslBump1
acl step2 at_step SslBump2
acl step3 at_step SslBump3

ssl_bump peek step1
ssl_bump bump step2 all
ssl_bump bump step3 all
{% else %}
https_port 3129 intercept ssl-bump options=ALL:NO_SSLv3:NO_SSLv2 connection-auth=off cert=/etc/squid/ssl/squidCA.pem

sslproxy_cert_error allow all
sslproxy_flags DONT_VERIFY_PEER

#block domains rule (example: .domain.com)
acl blocked ssl::server_name  "/etc/squid/blocked.txt"
acl step1 at_step SslBump1
ssl_bump peek step1
ssl_bump terminate blocked

ssl_bump splice all
{% endif %}

sslcrtd_program /usr/lib/squid/ssl_crtd -s /etc/squid/ssl/cert_cache -M 16MB
sslcrtd_children 20 startup=10 idle=10

coredump_dir /var/spool/squid
refresh_pattern ^ftp:           1440    20%     10080
refresh_pattern ^gopher:        1440    0%      1440
refresh_pattern -i (/cgi-bin/|\?) 0     0%      0
refresh_pattern .               0       20%     4320
logfile_rotate 4
pid_filename /var/run/squid.pid
