# This file is managed by ansible, don't make changes here - they will be overwritten.

# Nginx include location squidreport
location /squidreport {
  alias /h/toolset/squidreport/;
  index index.html;
  auth_basic "Restricted Content";
  auth_basic_user_file /etc/nginx/.htpasswd;

  location ~ /(doc|sql|setup)/ {
    deny all;
  }

  location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
    access_log     off;
    log_not_found  off;
    expires        1M;
  }
}
