# This file is managed by ansible, don't make changes here - they will be overwritten.

zabbix ALL=(ALL) NOPASSWD: /usr/sbin/exim -bp
zabbix ALL=(ALL) NOPASSWD: /usr/sbin/exim -bpc
zabbix ALL=(ALL) NOPASSWD: /usr/sbin/exim -bpr
zabbix ALL=(ALL) NOPASSWD: /usr/sbin/exiqgrep -r
